php_flag display_errors on
php_flag display_startup_errors on
AddDefaultCharset utf-8
RewriteEngine On



RewriteCond %{HTTP_HOST} ^www.ap.arkaneman.ru$ [NC]
RewriteRule ^(.*)$ http://ap.arkaneman.ru/$1 [R=301,L]

# Сюда дописать название папки в которую установлена панель
# Пример:
# 	RewriteBase /test - Если панель установлена в папку site.ru/test/
RewriteBase /


RewriteCond %{HTTP_HOST} (.*)
RewriteCond %{REQUEST_URI} /$ [NC]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)(/)$ $1 [R=301,L]

Options -Indexes
Options -Includes
Options +FollowSymlinks
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*) ./?%{QUERY_STRING}

#gzip сжатие
<IfModule mod_deflate.c>
AddOutputFilterByType DEFLATE text/html text/plain text/xml application/xml application/xhtml+xml text/javascript text/css application/x-javascript
BrowserMatch ^Mozilla/4 gzip-only-text/html
BrowserMatch ^Mozilla/4.0678 no-gzip
BrowserMatch bMSIE gzip-only-text/html
<ifmodule mod_gzip.c>
mod_gzip_on Yes
mod_gzip_item_include file \.js$
mod_gzip_item_include file \.css$ </IfModule>
</IfModule>
# фин gzip сжатие