.blockCont{
	margin-bottom: 15px;
}

.blockCont .blockHead{
	border-radius: 8px 8px 0 0;
	background-color: rgba(20, 20, 20, .9);
	text-align: left;
	padding: 10px;
}

.blockCont .blockBody{
	border-radius: 0 0 8px 8px;
	background-color: rgba(30, 30, 30, .8);
	padding: 10px;
}

.blockScroll{
	overflow-y: auto;
	overflow-x: hidden;
}

.blockScroll::-webkit-scrollbar-button{
	background-image:url('');
	background-repeat:no-repeat;
	width:5px;
	height:0px;
}

.blockScroll::-webkit-scrollbar-track{
	background-color:#ecedee
}

.blockScroll::-webkit-scrollbar-thumb{
	-webkit-border-radius: 0px;
	border-radius: 0px;
	background-color:#6dc0c8;
}

.blockScroll::-webkit-scrollbar-thumb:hover{
	background-color:#56999f;
}

.blockScroll::-webkit-resizer{
	background-image:url('');
	background-repeat:no-repeat;
	width:4px;
	height:0px;
}

.blockScroll::-webkit-scrollbar{
	width: 4px;
}